@charset "utf-8";
body {
	color:#6e675f;
	font-family:Arial,microsoft yahei,微软雅黑,simsun;
	font-size:14px;
	line-height:22px;
	padding:0;
	margin:0;
	background:#eeeeee;
 	background-image:url(http://lib.qqwl8.com/www.u1000y.com/img/back.jpg),url(http://lib.qqwl8.com/www.u1000y.com/img/bottom.jpg);
	background-repeat: no-repeat, no-repeat;  
	background-position: 0 0, 0 994px;
}
ul,li {
	padding:0;
	margin:0;
	list-style:none;
}
a {
	color:#000;
	text-decoration:none;
}
a:hover {
	color:#d9b766;
}
/*区域*/
	#HEAD {
	width:1220px;
	margin:0px auto;
	height:500px;
	text-align:center;
}
#layer-l1m2r1 {
	width:1220px;
	margin:0px auto;
}
.zone-l {
	float:left;
	width:260px;
}
.zone-m {
	width:680px;
	float:left;
	margin:0px 10px;
	background:#eedecf;
}
.zone-r {
	float:right;
	width:260px;
}
#layer-l1m3 {
	width:950px;
	margin:0px auto;
}
#layer-l1m3 .zone-m {
	width:680px;
	float:left;
	margin:0px 0px 0px 10px;
	background:#eedecf;
}
.iZfeng {
	clear:both;
}
#FOOT {
	width:1220px;
	margin:0px auto;
	text-align:center;
	padding:30px 0px;
	color:#000;
}
#FOOT .tip {
	color:#362303;
	font-weight:bold;
}
/*模块*/
	.box-left {
	margin-bottom:10px;
}
.box-right {
	margin-bottom:10px;
}
#quick {
	background:#eedecf url(http://lib.qqwl8.com/www.u1000y.com/img/quick.jpg) no-repeat;
	height:300px;
}
#quick .anniu{
    width: 260px;
    height: 168px;
    float: left;
}
#quick .anniu .down{
    width: 250px;
    height: 99px;
    display: block;
	padding:7px 7px;
}
#quick .anniu .zhuce{
    width: 120px;
    height: 60px;
	padding:10px 0px;
    float: left;
    display: block;
}
#quick .anniu .chongzhi{
    width: 120px;
    height: 60px;
	padding:10px 0px;
    float: left;
    display: block;
}
#quick .form {
    width: 260px;
    float: left;
}
#quick .form .inputback {
	display:block;
	background:#3b3b3b;
	width:70%;
	padding:3px 3%;
	margin:5px auto;
	text-align:center;
	color:#cbbfaf;
}
#quick .form input {
	background:#3b3b3b;
	color:#cbbfaf;
	width:70%;
	border:none;
}
#quick .form .button {
	display:block;
	width:30%;
	background:#d05600;
	border:1px #d9b766 solid;
	padding:5px 10px;
	margin:0px auto;
	border-radius:3px;
	text-align:center;
	cursor:pointer;
}
#quick .form .button a{
	color:#f6f8f5;
}

#service {
/* 	color:#000000;
	font-size:20px;
	font-weight:bold; */
	
	background:#000;
	height:325px;
	padding:10px 20px 0 20px
}
#service .title {
	line-height:28px;
	color:#FFF;
	font-size:20px;
	font-weight:bold;
	padding-bottom:2px;
	border-bottom:1px solid #7c6a54;
}
#service .info {
	padding:10px 0 0 0;
	color:#CCC;
}
#service .ewm {
	padding:10px 0 0 0;
	text-align: center;
}

#news {
/* 	background:#000 url(http://lib.qqwl8.com/www.u1000y.com/img/inforback.jpg) no-repeat;
	width:680px;
	height:385px !important; */
}
#news .nav {
    height: 59px;
    line-height: 59px;
    background:#d7c5b1 url(http://lib.qqwl8.com/www.u1000y.com/img/news1.jpg) no-repeat;
    position: relative;
    margin: 0 auto;
	font-size:16px;
	font-weight:bold;
}

 #news .nav span {
    width:83px;
    height: 59px;
    line-height: 59px;
    float: left;
	cursor:pointer;
	border-radius:2px;
	color:#160c0a;
    padding: 0 15px;
	overflow:hidden;
}

#news .nav span:hover,#news .nav .hover {
 background-repeat: no-repeat;
 background-position: 0 10px;
 background-image: url(http://lib.qqwl8.com/www.u1000y.com/img/newsnav.png);
 color:#fbfbfb;
} 

#news .list {
	padding:20px;
	display:none;
	line-height:28px;
    background:#eedecf url(http://lib.qqwl8.com/www.u1000y.com/img/news2.jpg) no-repeat;
}
#news .classnav {
	background:#000000;
	font-size:14px;
	padding:10px 20px;
}
#news .classnav a{
 color:#6e675f;
}
#news .classlist {
	padding:15px 20px;
	line-height:24px;
}
#news .classlist .classtitle {
	font-size:18px;
	color:#2c1915;
	font-weight:bold;
	line-height:38px;
	margin-bottom:10px;
	border-bottom:1px #6e675f dashed;
}
#news .classlist .info_ul {
    width: 98%;
    margin: 0px 0 0px 20px;
    float: left;
    display: inline;
    min-height: 0px;
}
#news .classlist .info_ul li {
    overflow: hidden;
    width: 120px;
    float: left;
    display: inline;
    border-bottom: 0;
}
#news .new {
	padding:20px;
}
#news .new .title {
	font-size:20px;
	font-weight:bold;
	color:#000;
	text-align:center;
}
#news .new .date {
	font-size:12px;
	border-bottom:1px #6e675f dashed;
	line-height:38px;
	margin-bottom:10px;
	text-align:center;
}
#news .new .content {
	padding:10px;
	border-bottom:1px #6e675f dashed;
}
#news .new .content img{
 max-width:600px;
 height: auto !important;border: none;
}
#news .new .fenye {
	text-align:center;
	padding-top:10px;
}
#infor {
	padding:15px 20px 0px 200px;
	background:url(http://lib.qqwl8.com/www.u1000y.com/img/inforback.jpg) no-repeat center;
	height:370px;
}
#infor .title {
	background:#d05600;
	padding:0px 0px;
	color:#FFF;
	width:75px;
	display:inline-block;
	text-align:center;
}
#infor .list {
	line-height:30px;
	margin:10px 0px;
}
#infor .list a {
	background:#6c6c6c;
	padding:0px 0px;
	color:#FFF;
	width:70px;
	display:inline-block;
	text-align:center;
}
#gamepic {
	padding:20px;
	background:#d9d9d9;
 height:348px;
}
#gamepic .title {
	color:#000000;
	font-size:20px;
	font-weight:bold;
}
#gamepic .imgList {
	padding:19px 0px;
}
#gamepic .imgList span {
	width:24%;
	text-align:center;
	padding-top: 2px;
	display:inline-block;
}
#gamepic .imgList img {
 width:145px;
 height:110px;
/*  width:auto;
 height:auto;
 max-width:145px;
 max-height:110px; */
}
#playerpic {
	padding:10px 20px;
	background:#000;
}
#playerpic .title {
	line-height:28px;
	color:#FFF;
	font-size:20px;
	font-weight:bold;
	padding-bottom:2px;
	border-bottom:1px solid #7c6a54;
}
#playerpic .imgList {
	padding:19px 0px;
}
#playerpic .imgList span {
	width:48%;
	text-align:center;
	display:inline-block;
}
#playerpic .imgList span a{
	line-height:24px;
	color:#CCC;
}
/* 分页*/
	.page {
	overflow:hidden;
	margin-top:20px;
}
.page li {
	float: left;
	margin-bottom:10px;
	margin-left:10px;
}
.page a {
	display:block;
	float:left;
	margin:0 5px;
	text-decoration:none;
	color: #363d44;
}
.page a:hover {
	color:#c53f48;
}
.page span {
	display:block;
	float:left;
	padding:3px 7px;
	margin:0 5px;
	background:#cdaf7d;
	color:#fff;
}
.page .thisclass a {
	display:block;
	float:left;
	padding:3px 7px;
	margin:0 5px;
	text-decoration:none;
	background:#cdaf7d;
	color:#fff;
}
.page .thisclass a:hover {
	text-decoration:none;
	color:#FFF;
}
.ind_news_title {
	height:40px;
	border-bottom:solid 1px #e2e2e2;
	position:relative;
}
.ind_news_title .items {
	margin-top:20px;
}
.ind_news_title .items a {
	color:#363d44;
	width:80px;
	height:40px;
	line-height:30px;
	float:left;
	text-align:center;
	font-size:14px;
}
.ind_news_title .items a:hover, .ind_news_title .items .f {
	color:#cdaf7d;
}
.ind_news_title .items .listf {
	border-bottom:solid 1px #c53f48;
	color:#c53f48;
}
